*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul,li{
    list-style: none;
    display: flex;
    transition: all .3s ease-in-out;
}

img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.image{
    overflow: hidden;
    font-size: 0;
    transition: all linear .5s;
}

@font-face {
    font-family: prata;
    src: url('../fonts/Prata-Regular.ttf');
}